@import url("styles/header.css");

:root {
    --cor-de-fundo: #e2dada;
    --branco: #FFFFFF;
}

body {
    background-color: var(--cor-de-fundo);
}



.menu {
display: flex;
justify-content: space-between;
align-items: right;
}
